<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzlm.cn.dao.plan.PlanMapper" >
  <resultMap id="BaseResultMap" type="com.lzlm.cn.model.plan.Plan" >
    <id column="plan_id" property="planId" jdbcType="VARCHAR" />
    <result column="type_code" property="typeCode" jdbcType="VARCHAR" />
    <result column="plan_name" property="planName" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="plan_status" property="planStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    plan_id, type_code, plan_name, create_id, create_date, plan_status
  </sql>

</mapper>